<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= htmlWebpackPlugin.options.title%></title>
	<!-- 将公共部分源码放在head中，减少请求 -->
	<script type="text/javascript">
		<%= compilation.assets[htmlWebpackPlugin.files.chunks.main.entry.substr(htmlWebpackPlugin.files.publicPath.length)].source()%>
	</script>
</head>
<body>
	<% for(var key in htmlWebpackPlugin.files.chunks) { %>
		<% if(key !== 'main') { %>
			<script src="<%= htmlWebpackPlugin.files.chunks[key].entry%>" type="text/javascript"></script>
		<% } %>
	<% } %>
</body>
</html>